<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form" novalidate>
        <div class="form-group" ng-class="{ 'has-error': form.eMail.$dirty && form.eMail.$error.required || form.eMail.$error.email }">
            <label for="eMail">E-mail</label>
            <input type="email" name="eMail" id="eMail" class="form-control" ng-model="vm.user.eMail" required />
            <span ng-show="form.eMail.$dirty && form.eMail.$error.required" class="help-block">E-mail is required</span>
            <span ng-show="form.eMail.$dirty && form.eMail.$error.email" class="help-block">E-mail is not valid</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.id.$dirty && (form.id.$error.required || form.id.$error.checksum) }">
            <label for="id">ID</label>
            <input type="text" name="id" id="Id" class="form-control" ng-model="vm.user.id" required checksum />
            <span ng-show="form.id.$dirty && form.id.$error.required" class="help-block">ID is required</span>
            <span ng-show="form.id.$dirty && form.id.$error.checksum" class="help-block">ID is not valid</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.user.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && (form.password.$error.required || form.password.$error.pattern) }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9_-]{6,})$/" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span ng-show="form.password.$dirty && form.password.$error.pattern" class="help-block">Password must be at least 6 characters and contain at least one letter and one digit</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.retypedPassword.$dirty && (form.retypedPassword.$error.required || form.retypedPassword.$error.matchPassword) }">
            <label for="retypedPassword">Retype Password</label>
            <input type="password" name="retypedPassword" id="retypedPassword" class="form-control" ng-model="vm.user.retypedPassword" required match-password />
            <span ng-show="form.retypedPassword.$dirty && form.retypedPassword.$error.required" class="help-block">Retype Password is required</span>
            <span ng-show="form.retypedPassword.$dirty && form.retypedPassword.$error.matchPassword" class="help-block">Retyped Password don't match</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
